references/SROI_Wales_Voluntary_Sector/output/alignment_heatmap.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/framework_flow.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/framework_flow_mermaid.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/funding_flows.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/measurement_gap.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/nlcf_wales.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/north_wales_cvc_funding_core.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/sroi_comparison.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/sroi_input_costs_table.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/sroi_kpi_dimensions.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/timeline.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/voluntary_sector_at_a_glance_now.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/voluntary_sector_funding_categories.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/volunteering_value.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/wcva_key_dates.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/output/wcva_wg_funding.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/docs/SROI_Wales_Voluntary_Sector.pdf filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/docs/WCVA_FreePlane_MindMap.html_files/hide.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/docs/WCVA_FreePlane_MindMap.html_files/ilink.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/docs/WCVA_FreePlane_MindMap.html_files/image.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/docs/WCVA_FreePlane_MindMap.html_files/leaf.png filter=lfs diff=lfs merge=lfs -text
references/SROI_Wales_Voluntary_Sector/docs/WCVA_FreePlane_MindMap.html_files/show.png filter=lfs diff=lfs merge=lfs -text
