# Copyright (C) 2026 - Bharadwaj Raman - https://github.com/nba1990/
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License v3.
#
# See the LICENSE file for details.

pandas>=2.0
plotly>=5.18
streamlit>=1.30
kaleido>=0.2.1
fpdf2>=2.7
pydantic>=2.13.3
pydantic_core>=2.41.5
PyYAML>=6.0
numpy>=2.4.3
psutil>=7.2.2
# Source code available under AGPLv3: https://github.com/nba1990/wcva_data_analysis
