# Copyright (C) 2026 - Bharadwaj Raman - https://github.com/nba1990/
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License v3.
#
# See the LICENSE file for details.

# Documentation build (Sphinx).
# Install after project deps: pip install -r requirements.txt && pip install -r docs/requirements-docs.txt
# Then: cd docs && make html  (output in docs/build/html/)
sphinx>=7.0
sphinx-rtd-theme>=2.0
PyYAML>=6.0
# Source code available under AGPLv3: https://github.com/nba1990/wcva_data_analysis
